


{% extends 'backoffice.html.twig' %}

{% block title %}Liste Des Reservations  {% endblock %}

{% block body %}
{% set queryParams = app.request.query.all %}
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Bookings list</li>
            </ol>
                <div class="box_general">
                    <div class="header_box">
                        <h2 class="d-inline-block">Liste des Reservation dans l'agence </h2>
                        <form id="filters">
                            {% if queryParams is not empty and queryParams.hotel is defined %}
                                {% set checked =  queryParams.hotel %}
                            {% else %}
                                {% set checked = "" %}
                            {% endif %}

                            <div class="col">
                            <select name="type" id="type">
                                <option value="" class="dropdown-item">--Sélectionner type de réservation--</option>
                                <option value="reservation voyage">voyage</option>
                                <option value="reservation hotel">hotel</option>
                            </select>
                            </div>
                            <div class="col">

                            <label>Rechercher Par Hotel :</label><br>
                            <p><input type="text" id="hotel" name="hotel" value="{{ checked }}"></p>
                            </div>

                            <input type="hidden" name="page" value="{{page}}">

                        </form>
                    </div>
                    <div id="content">
                {% include "reservation/content.html.twig" %}
                    </div>
            <!-- /pagination-->
        </div>
        <!-- /container-fluid-->
    </div>

        <script>
            window.onload = () => {
                const FiltersForm = document.querySelector("#filters");

                // On boucle sur les input
                document.querySelectorAll("#filters input").forEach(input => {
                    input.addEventListener("keyup", () =>
                    {
                        console.log("changeed")
                        // Ici on intercepte les clics
                        // On récupère les données du formulaire
                        const Form = new FormData(FiltersForm);
                        const Params = new URLSearchParams();

                        Form.forEach((value, key) => {
                            Params.append(key, value);
                        });
                        const Url = new URL(window.location.href);
                        // On lance la requête ajax
                        fetch(Url.pathname + "?" + Params.toString() + "&ajax=1", {
                            headers: {
                                "X-Requested-With": "XMLHttpRequest"
                            }
                        }).then(response =>
                            response.json()

                        ).then(data => {
                            // On va chercher la zone de contenu
                            const content = document.querySelector("#content");

                            // On remplace le contenu
                            content.innerHTML = data.content;

                            // On met à jour l'url
                            history.pushState({}, null, Url.pathname + "?" + Params.toString());
                        }).catch(e => alert(e),
                            console.log("tets")
                        );

                    });
                });

                document.querySelectorAll("#filters select").forEach(input => {
                    input.addEventListener("change", () =>
                    {
                        console.log("changeed")
                        // Ici on intercepte les clics
                        // On récupère les données du formulaire
                        const Form = new FormData(FiltersForm);
                        const Params = new URLSearchParams();

                        Form.forEach((value, key) => {
                            Params.append(key, value);
                        });
                        const Url = new URL(window.location.href);
                        // On lance la requête ajax
                        fetch(Url.pathname + "?" + Params.toString() + "&ajax=1", {
                            headers: {
                                "X-Requested-With": "XMLHttpRequest"
                            }
                        }).then(response =>
                            response.json()

                        ).then(data => {
                            // On va chercher la zone de contenu
                            const content = document.querySelector("#content");

                            // On remplace le contenu
                            content.innerHTML = data.content;

                            // On met à jour l'url
                            history.pushState({}, null, Url.pathname + "?" + Params.toString());
                        }).catch(e => alert(e),
                            console.log("tets")
                        );

                    });
                });


            }


        </script>
{% endblock %}
