{% extends 'backoffice.html.twig' %}

{% block title %}New Transport{% endblock %}

{% block body %}
   <center> <h1>Create new Compagnie de Transport</h1></center>

    {{ include('transport/_form.html.twig') }}

    <a href="{{ path('bookings') }}">back to list</a>
{% endblock %}
