<h2>*****Nouveau contact de la part du service finacier relative à Oxyvia Tours Agency***** </h2>

<p>Bonjour mr/mme : {{ contact.getName() }} ! </p>
<p>ce mail a été envoyé par : {{ contact.getEmail()}} </p>
<p>Description :{{ contact.getMessage()|raw }}</p>
