# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\smp\Documents\3Aa\integration web\Oxyvia-Tours-saifhamza2eyainteg\Oxyvia-Tours-saifhamza2eyainteg\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
